* {
    margin: 0px auto;
    padding: 0px;

}

header {
    background-image: url('https://www.leatherhidestore.com/media/catalog/product/cache/1/small_image/239x159/c96a280f94e22e3ee3823dd0a1a87606/k/3/k365_white_smoke_c1.jpg');
    background-size: cover;
    background-position: center;
}

#menu-sito {
    background-color: bisque;
    color: grey;
    padding: 16px;
    font-size: 30px;
    border: none;
    position: fixed;
    display: block;
    float: left;
    margin: 2%;
    box-shadow: 10px 10px 18px black;
    padding: 24px 48px;
    
   
  
}

.sub {
    display: none;
    color: gray;
    padding: 16px;
    font-size: 20px;
    list-style: none;
    

    
}
.sub li a {
    padding: 2px 0 2px 6px!important;
    
}

#menu-sito:hover .sub {
    display: block;
    color: black;
    position: relative;
    padding: 16px;
    font-size: 20px;
    list-style: none;

}
.menu-content ul li a {
    text-decoration: none;
    color: gray;
    
    padding: 16px;
    font-size: 20px;
}

.sub-sub-menu1 {
    display: none;
    color: gray;
  
    padding: 16px;
    font-size: 20px;
    list-style: none;
}
.men-btn:hover .sub-sub-menu1 {
    display: block;
    color: black;
   
    padding: 16px;
    font-size: 20px;
    list-style: none;
}


.sub-sub-menu2 {
    display: none;
    color: gray;
  
    padding: 16px;
    font-size: 20px;
    list-style: none;
}

.sub-menu {
    display: none;
    color: gray;
   
    padding: 16px;
    font-size: 20px;
    list-style: none;
}

.women-btn:hover .sub-sub-menu2 {
    display: block;
    color: black;
   
    padding: 16px;
    font-size: 20px;
    list-style: none;
}


.btn-pro:hover .sub-menu {
    display:block;
    color: black;
   
    padding: 16px;
    font-size: 20px;
    justify-content: center;
    list-style: none;
}


body {
    background-image: url('http://www.prodital.it/upload/prodotti/img/original/15031710111_iguana_smokey_big.jpg');
}

.log-name {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;

}

.navbar {
    width: 100%;
    background-color: lightslategray;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    padding: 5%;
    font-size: 25px;
    color: darkslategray;
}

.navbar a:hover {
    color: whitesmoke;

}

.promotion {

    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin: 0 auto;
    /* width: 75%; */
    max-width: 75%;
    background-color: antiquewhite;
    /* align-items: center; */
    margin-top: 3%;
    border-radius: 12%;
    overflow: hidden;
    /* text-align: center; */

}
.test{
    font-size: 50px;
}

.col-4 {
    float: left;
    width: 32.3%;
}

.col-5 {
     float: left;
     width: 32.3%;
 }
.flex-row1 {
   flex: 1;
}

.flex-row2 {
    flex: 1;
    padding-bottom: 2%;
}

.flex-row1 .col-4 img {
    /* width: 300px;
    height: 300px; */
    width: 78%;
    margin: 8%;
    border-radius: 35%;
    border: black solid 1px;
    box-shadow: 10px 10px 18px #888888;
}

.flex-row1 .col-5 img {
    /* width: 300px;
    height: 300px; */
    width: 78%;
    margin: 8%;
    border-radius: 35%;
    border: black solid 1px;
    box-shadow: 10px 10px 18px #888888;
}

.flex-row1  .col-4 img:hover {
    /* width: 300px;
    height: 300px; */
    width: 82%;

    margin: 5%;
    border-radius: 40%;
    border: black solid 1px;
    box-shadow: 10px 10px 18px black;
}
.flex-row1 .col-5 img:hover {
    /* width: 300px;
    height: 300px; */
    width: 82%;

   
    border-radius: 40%;
    border: black solid 1px;
    box-shadow: 10px 10px 18px black;
}


.flex-row2 .col-4 img {
    /* width: 300px;
    height: 300px;  */
    width: 78%;
    margin: 8%;
    border-radius: 35%;
    border: black solid 1px;
    box-shadow: 10px 10px 18px #888888;
}

.flex-row2 .col-4 img:hover {
    /* width: 300px;
    height: 300px; */
    width: 82%;

    margin: 6%;
    border-radius: 40%;
    border: black solid 1px;
    box-shadow: 10px 10px 18px black;
}

.col-4 h5 {
    text-align: center;
    padding-bottom: 8% !important;
    
}

/* .flex-row h5 {
    text-align: center;
    padding-bottom: 8%;
    
} */
    

.promotion h1 {
    font-size: 70px;
    padding-top: 6%;
    text-align: center;
}

.promotion-container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    display: inline-block;
    overflow: hidden;
    
}

.wom-seasons {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin: 0 auto;
    /* width: 75%; */
    max-width: 75%;
    background-color: antiquewhite;
    /* align-items: center; */
    margin-top: 3%;
    border-radius: 15%;
    overflow: hidden;
    /* text-align: center; */
    

}

.wom-seasons img {
    width: 89%;
    margin: 4%;
    border-radius: 35%;
    border: black solid 1px;
    box-shadow: 10px 10px 18px #888888;
}

.wom-seasons img:hover {
    width: 91%;
    margin: 2%;
    border-radius: 40%;
    border: black solid 1px;
    box-shadow: 10px 10px 18px black;
}

.wom-seasons h1 {
    font-size: 87px;
    padding-top: 6%;
    text-align: center;
}



.wom-season-container {
    display: block;
    text-align: center;
}

.men-seasons {

    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin: 0 auto;
    /* width: 75%; */
    max-width: 75%;
    background-color: antiquewhite;
    /* align-items: center; */
    margin-top: 3%;
    border-radius: 15%;
    overflow: hidden;
    /* text-align: center; */
    

}

.men-seasons img {
    width: 89%;
    margin: 4%;
    border-radius: 35%;
    border: black solid 1px;
    box-shadow: 10px 10px 18px #888888;
}

.men-seasons img:hover {
    width: 91%;
    margin: 2%;
    border-radius: 40%;
    border: black solid 1px;
    box-shadow: 10px 10px 18px black;
}


.men-seasons h1 {
    font-size: 87px;
    padding-top: 6%;
    text-align: center;
}

.men-season-container {
    display: block;
    text-align: center;
}

.w-s-s {

    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin: 0 auto;
    /* width: 75%; */
    max-width: 75%;
    background-color: antiquewhite;
    /* align-items: center; */
    margin-top: 3%;
    border-radius: 15%;
    overflow: hidden;
    /* text-align: center; */
    


}

/* .w-s-s img {
    width: 24%;
    margin: 4%;
    border-radius: 35%;
    border: black solid 1px;
    box-shadow: 10px 10px 18px #888888;
} */

.w-s-s h1 {
    font-size: 87px;
    padding-top: 6%;
    text-align: center;
}

.w-s-s h2 {
    text-align: center;
    font-size: 60px;

}

.w-s-s-container {
    display: block;
}

.w-a-w {

    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin: 0 auto;
    /* width: 75%; */
    max-width: 75%;
    background-color: antiquewhite;
    /* align-items: center; */
    margin-top: 3%;
    border-radius: 15%;
    overflow: hidden;
    /* text-align: center; */
    
}

/* .w-a-w img {
    width: 24%;
    margin: 4%;
    border-radius: 35%;
    border: black solid 1px;
    box-shadow: 10px 10px 18px #888888;
} */

.w-a-w h1 {
    font-size: 87px;
    padding-top: 6%;
    text-align: center;
}

.w-a-w h2 {
    text-align: center;
    font-size: 60px;

}

.w-a-w-container {
    display: block;
}

.m-s-s {

    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin: 0 auto;
    /* width: 75%; */
    max-width: 75%;
    background-color: antiquewhite;
    /* align-items: center; */
    margin-top: 3%;
    border-radius: 15%;
    overflow: hidden;
    /* text-align: center; */
    

}

/* .m-s-s img {
    width: 24%;
    margin: 4%;
    border-radius: 35%;
    border: black solid 1px;
    box-shadow: 10px 10px 18px #888888;
} */

.m-s-s h1 {
    font-size: 87px;
    padding-top: 6%;
    text-align: center;
}


.m-s-s h2 {
    text-align: center;
    font-size: 60px;

}

.m-s-s-container {
    display: block;
}

.m-a-w {

    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin: 0 auto;
    /* width: 75%; */
    max-width: 75%;
    background-color: antiquewhite;
    /* align-items: center; */
    margin-top: 3%;
    border-radius: 15%;
    overflow: hidden;
    /* text-align: center; */
    

}

 
.m-a-w h1 {
    font-size: 87px;
    padding-top: 6%;
    text-align: center;
}
/* .m-a-w img {
    width: 24%;
    margin: 4%;
    border-radius: 35%;
    border: black solid 1px;
    box-shadow: 10px 10px 18px #888888;
} */ 

.m-a-w h2 {
    text-align: center;
    font-size: 60px;

}

.m-a-w-container {
    display: block;
}